.bodys__container{
    width: 100%;
    display: flex;
    min-height: 100vh;
}
.bodys__box{
    width: 100%;
    margin-top: 90px; 
 
}
.bodys__box>a>div{
    display: inline-block;
    width: 430px;
    background-color:rgb(212, 212, 218);
    margin: 12px;
    height: 350px;
    padding: 0px;
    box-shadow: 0 0 5px black;
}
.bodys__box>a>div>div{
 width: 100%;
 color: rgb(9, 5, 46);

}
.bodys__box>a>div>div>div{
    width: 100%;
    margin-top: -45px;
}
.videos{
transition: all 2s;
}
.bodys__box>a>div>div>div{
 display: flex;
 height: 100%;
}
.bodys__box>a>div>div>div>img{
 height: 30px;
 width: 30px;
 border-radius: 50%;
 object-fit: cover;
}
.bodys__box>a>div>div>div>p{
    font-size: 18px;
    margin: 5px;
 }
.bodys__box>a>div>div>b{
 display: flex;
 align-items: center;
 font-size: 13px;
 margin: 5px;
}
.time__icon{
    font-size: 13px !important;
    margin: 5px;
}
@media(max-width:700px) and (min-width:259px){
    .bodys__box>a>div{
        display: inline-block;
        width: 95%;
        background-color:rgb(206, 217, 219);
        margin: 10px;
        height: 350px;
        padding: 2px;
        box-shadow: 0 0 5px black;
    }   
    .bodys__box>a>div>div{
        width: 100%;
       }
       .bodys__box>a>div>div>video{
         height: 200px;
         width: 100%;
       }
       #name__imag__section{
       display: flex;
       align-items: center;
       margin-top: 2px;
       margin-top: -34px;
       }
}