.bodys__container{
    width: 100%;
    display: flex;
    min-height: 100vh;

}
.bodys__box{
    width: 100%;
    margin-top: 90px; 
 
}
.bodys__box>a>div{
    display: inline-block;
    width: 425px;
    background-color:rgb(212, 212, 218);
    margin: 12px;
    height: 350px;
    padding: 0px;
    box-shadow: 0 0 5px black;
}
.bodys__box>a>div>div{
 width: 100%;
 color: rgb(9, 5, 46);

}
.bodys__box>a>div>div>div{
    width: 100%;
    margin-top: -45px;
}
.videos{
transition: all 2s;
}
.bodys__box>a>div>div>div{
 display: flex;
 height: 100%;
}
.bodys__box>a>div>div>div>img{
 height: 30px;
 width: 30px;
 border-radius: 50%;
 object-fit: cover;
}
.bodys__box>a>div>div>div>p{
    font-size: 18px;
    margin: 5px;
 }
.bodys__box>a>div>div>b{
 display: flex;
 align-items: center;
 font-size: 13px;
 margin: 5px;
}
.time__icon{
    font-size: 13px !important;
    margin: 5px;
}
.payment__videos__bar{
    height: 400px;
    position: relative;
}
.video__cost__section{
    position: absolute;
    width: 100%;
    background-color: rgb(204, 166, 141);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(175,129,184,0.856162447889312) 0%, rgba(171,192,208,1) 0%, rgba(225,235,235,1) 100%, rgba(237,129,9,1) 100%, rgba(227,134,16,1) 100%);
    padding: 0px;
    box-sizing: 0 0 5px rgb(218, 21, 21);
    text-align: center;
}
.video__cost__section>span{
 font-weight: bold;
 box-sizing: border-box;
 color: rgb(247, 134, 6); 
 margin: 5px;

}
.video__cost__section__green{
    position: absolute;
    width: 100%;
    background-color: rgb(204, 166, 141);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(175,129,184,0.856162447889312) 0%, rgba(171,192,208,1) 0%, rgba(225,235,235,1) 100%, rgba(237,129,9,1) 100%, rgba(227,134,16,1) 100%);
    padding: 0px;
    box-sizing: 0 0 5px rgb(218, 21, 21);
    text-align: center; 
}
.video__cost__section__green>span{
    font-weight: bold;
    box-sizing: border-box;
    color: rgb(0, 183, 255); 
    margin: 5px;
   
   }
.no__categories__videos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.no__categories__videos>div:nth-of-type(1){
   background-color: rgb(207, 226, 231);
   padding: 3px 5px;
}
.no__categories__videos>div:nth-of-type(1):hover{
    background-color: rgb(253, 243, 243);
 }
 .no__categories__videos>div:nth-of-type(2)>h2{
   font-style: italic;
 }
@media(max-width:700px) and (min-width:400px){
    .bodys__box>a>div{
        display: inline-block;
        width: 95%;
        background-color:rgb(206, 217, 219);
        margin: 10px;
        height: 350px;
        padding: 2px;
        box-shadow: 0 0 5px black;
    }   
    .bodys__box>a>div>div{
        width: 100%;
       }
       .bodys__box>a>div>div>video{
         height: 200px;
         width: 100%;
       }
       #name__imag__section{
       display: flex;
       align-items: center;
       margin-top: 2px;
       margin-top: -34px;
       }
       .no__categories__videos>div:nth-of-type(2)>h2{
        font-size: 14px;
     }
}
@media(max-width:400px) and (min-width:259px){
    .bodys__box>a>div{
        display: inline-block;
        width: 95%;
        background-color:rgb(206, 217, 219);
        margin: 10px;
        height: 350px;
        padding: 2px;
        box-shadow: 0 0 5px black;
    }   
    .bodys__box>a>div>div{
        width: 100%;
       }
       .bodys__box>a>div>div>video{
         height: 200px;
         width: 100%;
       }
       #name__imag__section{
       display: flex;
       align-items: center;
       margin-top: 2px;
       margin-top: -34px;
       }
       .no__categories__videos>div:nth-of-type(2)>h2{
        font-size: 8px;
     }
}